.view-header
	height 100%
	color header_font_color
	background-color header_bg_color
	// border-bottom 1px rgba(#000, 0.36) solid
	flex-container row center
	transition()

// Flex-Spacing
.view-header .flex-space
	flex 1


.view-header .sidebar-toggle
	height header_height

// Buttons
.view-header .btn-flat
	padding 18px gutter_x
	margin-right 12px
	height 100%
	color inherit

// Logo
.view-header .brand-logo
	font-size 24px
	font-weight 100


.view-header
	.brand, .subpanel
		border-bottom 1px transparent dotted
		&:hover
			text-decoration none
			border-bottom-color color_base
	.subpanel
		margin-left 24px
		position relative
		&:empty
			display none
		&:after
			content '/'
			absolute top left -17px
			font-size 28px