.view-header
	height 100%
	color color_font
	background-color color_base
	border-bottom 1px theme_border solid
	flex-container row center
	shadow()
	transition()

// Flex-Spacing
.view-header .flex-space
	flex 1


.view-header .sidebar-toggle
	height header_height

// Buttons
.view-header .btn-flat
	padding 18px gutter_x
	margin-right 12px
	height 100%
	color inherit

// Logo
.view-header .brand-logo
	width 48px
	font-size 24px
	font-weight 100
	> img
		width 100%