include /mixins/icon.jade
include /mixins/dropdown.jade


.main-header
	#sidebar-toggle
		+Icon('navigation-menu')
	#brand-logo
		img.responsive-img(src='/public/white-logo.png')
			
	.header-spacer

	ul.navigation
		li
			a(href='/') Home
		li
			a(href='/dashboard') Dashboard

.sub-header
	span.sub-header-title Title
	#region-sub-header