include /mixins/icon.jade
include /mixins/button.jade




mixin NormalHeader()
  - var url = getLogoutUrl();

  .sidebar-toggle
    +Icon('bars')
  .brand-logo
    a.brand(href='/') Amber
    a.subpanel
  .flex-space
  a.logout-button(href = url, title='Logout')
    +Icon('power-off')

//- Render this
+NormalHeader