.view-sidebar
	flex 1
	flex-vertical()
	font-size 24px
	.sidebar-inner
		background-color #fff
		flex 1
		flex-vertical()
		
	.sidebar-backdrop
		fixed top left bottom
		opacity 0
		background-color rgba(#000, 0.36)
		cursor pointer
		transition opacity time_2x ease
		z-index -1
		&.is-active
			opacity 1
			width 100vw

	.sidebar-header
		color color_font
		background-color color_base
		height header_height + 3
		
		> span
			display block
			font-weight 100
			margin-left gutter_x
	
	.back-button
		padding gutter_x
		button-clickable()
		
	
		
	
	.list-categories
		list-style none
		
	.list-categories-item
		font-weight lighter
		color lighten(theme_font, 10%)
		hover-color color_base true
		height auto
		> a
			margin 4px 0
			padding 8px gutter_x 8px (gutter_x - 6)
			box-sizing border-box
			font-size 18px
			width 100%
		> a
			border-left 6px transparent solid
		&:hover > a
			border-left-color rgba(#000, 0.5)
		&:active > a
			border-left-color color_base
			