include /mixins/icon.jade


mixin CategoryItem(menu)
	li.list-categories-item
		a(href=menu.route)
			+IconWithText(menu.icon, menu.name, 'left')

.sidebar-inner
	//- This will be rendered
	.sidebar-header
		+Icon('navigation-arrow-back back-button')
		span.title Services
	ul.list-categories
		each menu in menus
			+CategoryItem(menu)

.sidebar-backdrop