include /mixins/button.jade


mixin CategoryItem(name, url)
	li.list-categories-item
		a(href='#{url}') #{name}

.sidebar-inner
	//- This will be rendered
	.sidebar-header
		+Icon('navigation-arrow-back back-button')
		span.title Categories
	ul.list-categories
		each url, name in menus
			+CategoryItem(name, url)

.sidebar-backdrop