include /mixins/icon.jade


mixin CategoryItem(menu)
	li.list-categories-item(
		class = menu.active ? 'is-active' : '',
		data-route = menu.route
	)
		+IconWithText(menu.icon + ' fa-fw', menu.name, 'left')

.sidebar-inner
	//- This will be rendered
	.sidebar-header
		+Icon('arrow-left back-button')
		span.title Services
	ul.list-categories
		each menu in menus
			+CategoryItem(menu)

.sidebar-backdrop