include /mixins/icon.jade


mixin CategoryItem(menu)
  li.list-categories-item( class = menu.active ? 'is-active' : '' )
    a(href=menu.route)
      +IconWithText(menu.icon + ' fa-fw', menu.name, 'left')


.sidebar-inner
  .sidebar-header(class = s.header)
    .back-button
      +Icon('arrow-left')
    span.title Services

  ul.list-categories(class = s.menulist)
    each menu in menus
      +CategoryItem(menu)

.sidebar-backdrop(class = s.backdrop)