tabs_width  = 260px
tabs_height = header_height

:local(.self)
  // background-color subheader_bg_color
  background-color header_bg_color
  color subheader_font_color
  border-bottom 1px theme_border solid
  // border-top 1px theme_border solid


:local(.tabsContainer)
  width tabs_width
  .subpanel-tabs
    tabs()
