tabs_width  = 260px
tabs_height = header_height

:local(.self)
  // background-color subheader_bg_color
  background-color header_bg_color
  color subheader_font_color
  border-bottom 1px theme_border solid
  // border-top 1px theme_border solid


:local(.tabsContainer)
  width tabs_width

  .subpanel-tabs
    flex-container row

  .subpanel-tab
    color inherit
    flex 1

  .subpanel-tab
    a
      width 100%
      text-align center
      padding 6px gutter_x
      border-bottom 2px transparent solid
      opacity 0.72
      transition()
    &:hover, &:active, &.is-active
      a
        opacity 1
    &.is-active
      a
        border-bottom-color color_base
