tile_size = 160px


:local(.self)
  height 100%
  padding gutter_y gutter_x

:local(.tiles)
  flex-container row
  align-content center
  flex-wrap wrap

:local(.tile)
  min-width tile_size
  height tile_size

  margin 20px
  padding 16px

  background-color color_teal
  color theme_font
  font-size 24px
  font-weight lighter
  text-align center