include /mixins/icon.jade

mixin Tile(data)
  a.tile(href=data.url)&attributes(attributes)
    .tile-icon
      +Icon(data.icon)
    .tile-name #{data.name}


.tiles-wrapper(class=s.tiles)
  each panel in panels
    +Tile(panel)(class=s.tile)
