include /mixins/grid.jade
include /mixins/card.jade

+Row
	+Column(4)
		+Card('amber')
			+CardContent('Customers Panel')
				p This is some random card content
			+CardAction
				a(href='#/customer/leads') Leads
	+Column(8)
		p This is column 8
