include /mixins/button.jade

mixin SearchBox
  .input-group(class=s.search)
    input(type='text', placeholder='Search')
    +ButtonWithIcon('', 'search', 'flat')(class='search-icon')

mixin VersionFilter
  .btn-group
    input(type='checkbox')



.control-bar(class=s.controls)
  +SearchBox
ul.emails-list