include /mixins/button.jade

.control-bar(class=s.controls)
  .input-field(class=s.search)
    input(type='text', placeholder='Search')
    +IconButton('', 'search', 'flat')(class='search-icon')
.list-wrapper(class=s.listwrapper)
  ul.emails-list