ui-input()
  padding 9px 20px 8px 20px
  border 1px theme_border solid

  font-size input_font_size

  // No outline
  outline none
  &:hover, &:active, &:focus, &:focus:active
    outline none


ui-label(bg_color = color_base)
  display inline-block
  font-size 11px
  font-weight 600

  padding 0px 4px
  line-height 1.8

  vertical-align super
  border-radius 2px

  color #fff
  background-color bg_color