/**
 * TABS
 *
 * Usage:
 * .header-tabs
 *   tabs 260px
 */

ui-tabs()
  font-size font_size
  > li
    display inline-block
    width auto
    text-align center
    cursor pointer
    > a
      display block
      width 100%
      opacity 0.72
      border-bottom 2px transparent solid
      padding 6px gutter_x
      color inherit
      text-decoration none
      transition()

    &:hover, &:active, &.is-active
      a
        color color_base
        opacity 1

    &.is-active
      a
        border-bottom-color color_base