transition(name= all, timing= time_animation, easing= $ease-in-out-swift)
  transition name timing easing


animation(name= fadeIn, timing= time_animation, easing= $ease-in-out-swift)
  animation name timing easing


no-outline()
  outline none
  &:hover, &:active, &:focus, &:focus:active
    outline none