// Light Theme
theme_bg = theme_base = #e8e8e8
theme_header = #fff
theme_border = rgba(#000, 0.16)
theme_widget = #fff



color_base = color_teal
color_base_border = darken(color_base, 10%)

is_theme_light = (luminosity(theme_base)) > (0.36)
is_color_light = (luminosity(color_base)) > (0.36)

theme_font = is_theme_light ? #888 : #6e6e6e
color_font = is_color_light ? theme_font : #f2f2f2

