// Colors from material-ui
color_red  = #F44336
color_pink = #E91E63
color_purple = #9C27B0
color_deep_purple = #673AB7
color_indigo = #3F51B5
color_blue = #2196F3
color_light_blue = #03A9F4
color_cyan = #00BCD4
color_teal = #009688
color_green = #4CAF50
color_light_green = #8BC34A
color_lime = #CDDC39
color_yellow = #FFEB3B
color_amber = #FFC107
color_orange = #FF9800
color_deep_orange = #FF5722
color_brown = #795548
color_grey = #9E9E9E
color_blue_grey = #607D8B
color_metalblack = #3a3a3a


// Font Options
line_height = font_line_height = 28px
font_size = 16px
font_1x = font_size
font_2x = font_1x * 2
font_3x = font_1x * 3
font_4x = font_1x *4


// Font Stacks
font_stack = 'Roboto', 'Helvetica Neue', 'Calibri', 'Ubuntu Light', sans-serif;


// Z-Index Scale
z0 = 0
z1 = 100
z2 = 200
z3 = 300
z4 = 400
z5 = 500
z6 = 600
z7 = 700
z8 = 800
z9 = 900


/* Time scale
 * Uniform Animations
 */
time_1x = 0.1s
time_2x = time_1x * 2
time_3x = time_1x * 3
time_4x = time_1x * 4


/* Opacity States
 * All states should be maintained with opacity
 */
opacity_default  = .82
opacity_disabled = .48
opacity_hover  = 1
opacity_active = 1    // Just an alias


gutter_x = 20px
gutter_y = 24px



// Other Settings
header_height = 72px
header_height_small = 72px

sidebar_width = 260px
