include ./icon.jade


mixin Button(text, options)
	-
		var options = options || {};
		var tag  = options.tag || null;
		var tags = ['li', 'a', 'div', 'span', 'button'];
		tag = tags.indexOf(tag) > -1 ? tag : 'button';

	#{tag}(class='btn')&attributes(attributes)
		if block
			block
		| #{text}


mixin ButtonWithIcon(text, icon, options)
	+Button(text, options)
		+Icon(icon)