include ./icon.jade


mixin Button(text, options)
	-
		var options = options || {};
		var tag  = options.tag || null;
		var tags = ['li', 'a', 'div', 'span', 'button'];
		tag = tags.indexOf(tag) > -1 ? tag : 'button';

		var cx = _.compact([
			'btn',
			options.type == 'flat' && 'btn-flat'
		]).join(' ');

	#{tag}(class=cx)&attributes(attributes)
		if block
			block
		if text
			span.text #{text}


mixin ButtonWithIcon(text, icon, options)
	+Button(text, options)&attributes(attributes)
		+Icon(icon)