include ./icon.jade


mixin Button(tag, text)
	//- Allow only these tags for button el
	- tag = ['li', 'a', 'div', 'span', 'button'].indexOf(tag) > -1 ? tag : 'button';

	#{tag}(class='btn')&attributes(attributes)
		if block
			block

mixin ButtonWithIcon(text, icon, button_type)

	+Button(text, button_type)(
		class=attributes.class
		href=attributes.href
	)
		+Icon(icon)
