include ./icon.jade


mixin Button(text, button_type)
	//- Classnames to apply
	- var cnames = 'waves-effect waves-light ';
	- cnames += (button_type === 'flat' ? 'btn-flat': 'btn')

	a(class=cnames)&attributes(attributes)
		if text
			span.text #{text}
		if block
			block

mixin ButtonWithIcon(text, icon, button_type)

	+Button(text, button_type)(
		class=attributes.class
		href=attributes.href
	)
		+Icon(icon)
