mixin Card(color, darken)
	- var darken = _.isUndefined(darken) ? '' : "darken-"+darken;
	- var color  = _.isUndefined(color ) ? '' : color;
	div(class = 'card #{color} #{darken}')
		if block
			block

mixin CardContent(title, textcolor)
	- var textcolor = _.isUndefined(textcolor) ? "" : textcolor;
	- var title = _.isUndefined(title) ? '' : title;
	div(class = 'card-content #{textcolor}')
		if title
			span.card-title #{title}
		if block
			block


mixin CardAction()
	.card-action
		if block
			block