.view-notification-header
  background-color color_base

:local .tabsContainer
  width 260px

  > ul
    flex-container row

  > ul li
    color color_font
    flex 1
    width 100%
    a
      text-align center
      padding 8px gutter_x 12px gutter_x
      border-top 4px transparent solid
      transition()
