//- Locals styles are exported under 's' namespace

mixin Tab(text, href, is_active)
	li(class= is_active ? "active" : "")
		a(href=href) #{text}

section(class=s.tabsContainer)
	ul
		+Tab('Emails', '/notification/email')
		+Tab('SMS', '/notification/sms')
		+Tab('Push', '/notification/push')