:local(.self)
  flex 1
  flex-container column
  border-right 1px theme_border solid
  background-color theme_widget

  .control-bar
    padding 0 20px
    border-bottom 1px rgba(#000, 0.2) solid
    shadow()
    position relative
    z-index z2

  .providers-list
    overflow-y auto
    height 30vh
    flex 1
    background-color darken(theme_widget, 2%)
    position relative
    z-index z1

:local(.tabs)
  display block
  margin-top 12px
  margin-left (-1*gutter_x)


:local(.searchbox)
  display block
  position relative
  margin-top 12px

  i
    font-size 16px
    absolute top 10px left 10px
    opacity 0.7

  input
    padding-left 32px




:local(.self-child)
  .item-inner
    border-bottom 1px theme_border solid
    background-color theme_widget
    padding 8px 20px
    border-left 4px transparent solid
    font-weight 300
    position relative
    cursor pointer
  &:hover
    .item-inner
      border-left-color theme_font
      color theme_font
  &:active, &.is-active
    .item-inner
      border-left-color color_base
      color color_base
  &.is-active
    .item-inner
      background-color rgba(color_base, 0.1)

  .item-name
    font-size 20px
    display block
  .item-updated
    font-size 14px
    font-weight bolder
    opacity 0.6

  .active-chip
    border-radius 2px
    padding 4px 14px
    font-weight bolder
    color #fff
    font-size font_size
    absolute top 20px right 20px
    background-color rgba(color_green, 0.8)