

// Buttons
.btn
  ui-button()
  > i
    font-size 1.23em
    vertical-align text-top
    & + .text
      margin-left 8px

.btn.btn-flat
  border-width 0
  background none
  &:hover, &:active
    color color_base
    box-shadow none
    transform scale(1.2)




.btn + .btn
  margin-left (gutter_x/2)

// Button Group
.btn-group
  .btn
    border-radius 0
  .btn:first-child
    border-radius 2px 0 0 2px
  .btn:last-child
    border-radius 0 2px 2px 0
  .btn + .btn
    border-left none
    margin-left 0