// Sensible Defaults

// Default list
ul
  list-style none
  margin 0
  padding 0


// Default Link Styles
a[href]
  text-decoration none
  color inherit
  display inline-block
  &:hover, &:active, &:focus
    color inherit

p
  word-break break-all
