// Setup Defaults
global-reset()
border-box-html()

@import '~font-awesome/css/font-awesome.css'
@import '~materialize-css/bin/materialize.css'
// @import '~material-design-lite/material.css'


body
	background-color theme_bg
	font-size font_size
	font-family font_stack
	line-height line_height
		
	color theme_font


	overflow hidden
	absolute top left right bottom
	z-index z0
	
	#root
		absolute top left right bottom
		z-index z1
	
	#app-header
		fixed top left right
		z-index z4
		height header_height
		&.in-small-mode
			height header_height_small
			overflow hidden
		
	#app-content
		flex-container column
		padding-top header_height
		overflow-y auto
		transition()
	
	#app-sidebar
		width sidebar_width
		fixed top left (-1*sidebar_width) bottom
		z-index z6
		opacity 0.6
		flex-vertical()
		transition left time_2x ease
		&.is-active
			left 0
			opacity 1
	

// Default Link Styles
a[href]
	text-decoration none
	color inherit
	display inline-block
	&:hover, &:active, &:focus
		color inherit
		

// Big Messages
.center-title
	padding-top 20vh
	font-weight 100
	font-size 5em
	text-align center