// Setup Defaults
global-reset()
border-box-html()

@import '~font-awesome/css/font-awesome.min.css'
@import '~animate.css/animate.min.css'
// @import '~materialize-css/dist/css/materialize.min.css'
// @import '~material-design-lite/material.css'

full-viewport()
	width 100vw
	height 100vh

body
	background-color theme_bg
	font-size font_size
	font-family font_stack
	line-height line_height

	color theme_font
	full-viewport()

	#root
		full-viewport()

	#app-header
		absolute top left right
		z-index z5
		height header_height

	#app-content
		flex-container column
		padding-top header_height
		overflow hidden
		full-viewport()
		transition()

	#app-sidebar
		width sidebar_width
		absolute top left (-1*sidebar_width) bottom
		z-index z6
		opacity 0.6
		flex-vertical()
		transition left time_2x ease
		&.is-active
			left 0
			opacity 1


// Default Link Styles
a[href]
	text-decoration none
	color inherit
	display inline-block
	&:hover, &:active, &:focus
		color inherit


// Region, Layouts and Views


// :not([class^='layout-']) > [class^='region-']
// 	flex 1
// 	flex-container column

// [class^='region-'] > [class^='view-']
// 		flex 1
// 		flex-container column