// Clickable buttons
button-clickable(button_type = none)
  cursor pointer
  transition()
  &:hover
    background-color rgba(#000, 0.08)
  &:active
    background-color rgba(color_base, 0.2)

  if button_type == rounded
    border-radius 50%
