flex-vertical()
	display flex
	flex-direction column

flex-horizontal()
	display flex
	flex-direction row
	
flex-container(direction = row)
	display flex
	flex-direction direction
	
	if direction == row
		padding 0 gutter_x
	else
		padding gutter_y 0