extends layout

block scripts
	script(type='text/javascript', src='/public/vendors-bundle.js')
	script(type='text/javascript', src='/public/app-bundle.js')

block content
	#app-header
	#app-sidebar
	#app-content