doctype html
html(lang='en')
	head
		title Amber.Dashboard
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		block stylesheets
	body
		#root
			block content
		block scripts